body header {
    position: relative;
    text-align: center;
    text-decoration: underline dotted;
}

body {
    background-color: rgb(28, 28, 28);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

body main {
    text-align: center;
}

.Card {
    inline-size: 60px;
    margin: 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: blueviolet;
    border-width: 2px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}

.Stepper {
    position: relative;
    top: 40px;
}

.Slider {
    position: relative;
    top: 60px;
}

.Color {
    position: relative;
    top: 80px;
}

.Radio {
    position: relative;
    top: 100px;
}

body footer {
    text-align: center;
}

#StartGame {
    position: relative;
    top: 140px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

#cardField {
    position: relative;
    text-align: center;
    top: 170px;
    padding-bottom: 80px;
}